Repository NoxInmortus/docker-maniaplanet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, lint-pterodactyl, dbuild_validate, dbuild_validate_pterodactyl, dbuild_push, dbuild_push_pterodactyl, docker_pushrm

lint:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_validate
  script:
  - hadolint --config .hadolint.yml Dockerfile
  - shellcheck -e SC2140 entrypoint.sh

lint-pterodactyl:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_validate
  script:
  - hadolint --config .hadolint.yml pterodactyl/Dockerfile
  - shellcheck -e SC2187 pterodactyl/entrypoint.sh

dbuild_validate:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_validate
  script:
  - docker buildx build -t ${DOCKERHUB_USER}/${CI_PROJECT_NAME} --platform=linux/arm,linux/arm64,linux/amd64 .

dbuild_validate_pterodactyl:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_validate_pterodactyl
  script:
  - docker buildx build -t ${DOCKERHUB_USER}/${CI_PROJECT_NAME}:pterodactyl --platform=linux/arm,linux/arm64,linux/amd64 pterodactyl/.

dbuild_push:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_push
  script:
  - VERSION=$(grep 'Version' README.md | awk -F ' ' '{ print $NF }')
  - echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USER} --password-stdin
  ...

dbuild_push_pterodactyl:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: dbuild_push_pterodactyl
  script:
  - echo ${DOCKERHUB_PASSWORD} | docker login -u ${DOCKERHUB_USER} --password-stdin
  ...

docker_pushrm:
  interruptible: true
  retry: 1
  tags:
  - docker
  stage: docker_pushrm
  script:
  - docker pushrm ${DOCKERHUB_USER}/${CI_PROJECT_NAME}

Changed: Update alpine version from 3.12 to 3.13
  Dockerfile
Due: lint, dbuild_validate, dbuild_push

Changed: Update README.md
  README.md
Due: docker_pushrm

Changed: Update pterodactyl base image to alpine-3.15_glibc-2.34
  pterodactyl/Dockerfile
Due: lint-pterodactyl, dbuild_validate_pterodactyl, dbuild_push_pterodactyl

Changed: Update base image to alpine:3.15, update GLIBC to 2.35-r0, add feature to manage user UID & GID
  Dockerfile
  update-perms.sh
Due: lint, dbuild_validate, dbuild_push

Fixed: LICENCE & README
  LICENSE
  README.md
Due: docker_pushrm

Added: Auto-changelog & auto-tag CI
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .gitlab-ci.yml
Due: none

[skip-ci] Auto-update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed: Renamed all Trackmania > ManiaPlanet [skip-ci]
  Dockerfile
  README.md
  entrypoint.sh
  pterodactyl/.dockerignore
  pterodactyl/egg-maniaplanet.json
  pterodactyl/egg-trackmania.json
Due: lint, dbuild_validate, dbuild_push, docker_pushrm

Fixed: Entrypoint incorrect
  Dockerfile
Due: lint, dbuild_validate, dbuild_push

Fixed: WORKDIR issue
  Dockerfile
  entrypoint.sh
Due: lint, dbuild_validate, dbuild_push

Fixed: WORKDIR issue
  entrypoint.sh
Due: lint, dbuild_validate, dbuild_push

Changed: Major upgrade of... everything
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .gitlab-ci.yml
  Dockerfile
  LICENSE
  README.md
  entrypoint.sh
  pterodactyl/.dockerignore
  pterodactyl/Dockerfile
  pterodactyl/egg-maniaplanet.json
  pterodactyl/egg-trackmania.json
  update-perms.sh
Due: lint, lint-pterodactyl, dbuild_validate, dbuild_validate_pterodactyl, dbuild_push, dbuild_push_pterodactyl, docker_pushrm

Fixed: issue #1 multiple-download-of-titles
  entrypoint.sh
Due: lint, dbuild_validate, dbuild_push

Path conditions:
  lint: any of: Dockerfile, entrypoint.sh
  lint-pterodactyl: any of: pterodactyl/Dockerfile, pterodactyl/entrypoint.sh
  dbuild_validate: any of: Dockerfile, entrypoint.sh
  dbuild_validate_pterodactyl: any of: pterodactyl/Dockerfile, pterodactyl/entrypoint.sh
  dbuild_push: any of: Dockerfile, entrypoint.sh
  dbuild_push_pterodactyl: any of: pterodactyl/Dockerfile, pterodactyl/entrypoint.sh
  docker_pushrm: any of: README.md
